networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certs:/etc/ssl/certs  # Монтируем локальную папку с сертификатами
      - './nginx.conf:/etc/nginx/nginx.conf'
      - /etc/letsencrypt/:/etc/letsencrypt/
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
    networks:
      - dev
    ports:
      - 8000:80
    mem_limit: 2024m
    mem_reservation: 256m
    restart: always

  frontend:
    build:
      context: ./frontend
    networks:
      - dev
    volumes:
      - /etc/letsencrypt/live/videovault.ru:/certs:ro  # Монтируем сертификаты с хоста в контейнер
      - ./certs:/etc/ssl/certs  # Монтируем локальную папку с сертификатами
      - /etc/letsencrypt/live/videovault.ru/:/etc/letsencrypt/live/videovault.ru/

  mysql_db:
    image: mysql:latest
    networks:
      - dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root

  phpmyadmin:
    image: phpmyadmin:latest
    networks:
      - dev
    restart: always
    ports:
      - 8001:80
    environment:
      - PMA_ARBITRARY=1